{% extends 'Webapp/Header.html' %}
{% load  staticfiles %}
{% block content %}


    <div class="col-md-9" style=" margin: 0% 10%">
        <div style="">
            <h1 class="TitleFont"><b>Who we are?</b></h1>
            <p>We are the team of two final year students just about to graduate by the prestigious Umar Basha institute
                of Information technology also known as DCS-UBIT. We the proud students of UBIT are immensely
                enthusiastic to push the limits and break our own record by continuous progress in the learning of new
                technology or the one we have been working with a long time. The objective of the efforts is to get a
                hefty knowledge and working skills of the technology because not to mention we are I.T geeks.</p>

            <p>This system is our final year project for the bachelors of software Engineering from prestigious UBIT but
                this project is more than just a final year project to us because it just made pavement for us to
                explore entirely new emerging field of “Data Analytics” which coincided hit to our interest. This
                project gives us a full set of opportunity to learn entirely new technologies like python, Django and to
                understand and digest machine learning algorithms to a new extent. </p>
            <br>
            <h1 class="TitleFont"><b>Brief description of the system </b></h1>
            <p>
                As predictive analysis is emerging to set a new future ahead where we can predict the outcomes from the
                historic data we had an idea of what if we do have the capability of presumptive diagnosis (the one
                diagnosis earlier) of disease using the actual patient data so, for that in mind we start by first
                working on the dengue patients data as it is one of the prominent disease in Pakistan.

            </p>
            <p>
                We collected actual dengue patients data from different sources and align up all together with the best
                machine learning algorithms not by just using one algorithms we used around four best algorithms in
                mechanism we refer as “Voting mechanism”. This voting mechanism work in a way that all algorithm run on
                the same dataset and they produce their own result set which then compare and if match the vote count
                increase for that prediction, the one with back of most algorithms become the final prediction for the
                patient.
            </p>
            <p>
                On the pavement of data analytics for now we are the new learner but not for long we will be
                professional data scientist soon because we are love to grow and pushing our limits by taking challenges
                making our words into reality. If you have anything to ask about the system or data analytics you can
                visit the contact us page we will entertain all of it.

            </p>
        </div>
    </div>

    <hr class="featurette-divider">



    <hr class="divider">
    <footer style=" margin-left: 10% ; margin-right: 14%; margin-top: 10px">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow44.js"></script>
        <noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>
        </noscript>
        <p>&copy; 2016 OReference, Inc. &middot; <a href="/Webapp/home">Home</a> &middot; <a href="/Webapp/aboutus">About</a> &middot;
            <a href="/Webapp/contactus">Contact </a></p>
    </footer>
{% endblock %}




<!-- FOOTER -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
