{% extends 'Webapp/Header.html' %}
{% load staticfiles %}

{% block content %}


    <div class="col-md-7 " style="margin: 0% 20%">
        <h1 class="TitleFont" style="text-align: center; font-size: 40px; margin-top: 20px;">Want to keep in touch with us? </h1>
        <div class="col-lg-12" style="text-align: center">
            <a href="https://www.facebook.com/sehan.ahmed.10?fref=ts">
                <img class="img-circle" style="height: 200px; width: 200px; margin: auto"
                     src={% static 'Img/13254571_10153698816353196_333495843126705111_n.jpg' %} alt="Generic placeholder
                     image=width="140" height="140">
            </a>
            <h3>Sehan Ahmed Farooqui</h3>

            <p>I am passionate software developer who love to explore new things and taking risks in life coincide i
                am barcelona fan and the student of prestigious Umar Basha Insititue of Information Technology.
                <br> You can contact me at <span style="color: dodgerblue;">Sehan_ahmed@live.com</span></p>

        </div><!-- /.col-lg-4 -->

        <div class="col-lg-12" style="text-align: center; ">
            <a href="https://www.facebook.com/razakawish">
                <a href="https://www.facebook.com/razakawish">
                    <img class="img-circle" style="height: 200px; width: 200px; margin: auto"
                         src={% static 'Img/12190847_1171331319561007_399879580378983313_n400x400.jpg' %} alt="Generic
                         placeholder
                         image=width="140" height="140">
                </a>
                <h3>Syed Kawish Raza</h3>

                <p>I am passionate software developer who just don't want to be a techie but also want to be an entrepreneur to explore different business processes 
				along with technology and i am student of prestigious Umar Basha Insititue of Information Technology
                    <br>You can contact me at <span style="color: dodgerblue">Razakawish@ymail.com</span>
                </p>


        </div>

    </div><!-- /.row -->

    <div class="divider"></div>
    <footer style=" margin-left: 23% ; margin-right: 14%; margin-top: 10px">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow44.js"></script>
        <noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>
        </noscript>
        <p>&copy; 2016 OReference, Inc. &middot; <a href="/Home">Home</a> &middot; <a href="/AboutUs">About
       
    </footer>
{% endblock content %}


<!-- FOOTER -->
