{% extends 'Webapp/Header.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle " src="{% static 'Img/F.png' %}" alt="Generic placeholder image" width="140"
                     height="140">
                <h2>Fast</h2>
                <p>We have make it optimize in every aspect possible from UI to backend everything is optimized to work
                    in fast and safe environment.</p>
                <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="{% static 'Img/Accuracy.png' %}" alt="Generic placeholder image"
                     width="140" height="140">
                <h2>Accurate</h2>
                <p>With cross validations and voting mechanism we have empowered this system with the highest accuracy
                    in order to reduce the false prediction.</p>
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="{% static 'Img/RealTime.png' %}" alt="Generic placeholder image"
                     width="140" height="140">
                <h2>Real-time</h2>
                <p>All the attributes that are used in the making of this system are all by far real symptoms that have
                    to measure and monitor while diagnosis of dengue.</p>
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading TitleFont" style="margin-top:55px;">Machine Learning Algorithms </h2>
                <p class="lead FPara">The idea of utilizing the power of machine learning algorithms on actual patient
                    symptoms in a bulk to extract the predictions out of it which lead to better decision making in a
                    such a critical scenario.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block FeatureRightImage"
                     src="{% static 'Img/check5.jpg' %}" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading TitleFont">Real-Time Predictions</h2>
                <p class="lead FPara">
                    By far all the data which is used in this system is actual patients data which is collected by the
                    different sources align up together to get the best predictions which map to the real-time scenarios
                    not by just faking about it.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block FeatureLeftImage"
                     src="{% static 'Img/check3.jpg' %}" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading TitleFont" style="margin-top:85px;">Voting Mechanism</h2>
                <p class="lead FPara">
                    Different algorithms are working together in the mean we refer to as “Voting mechanism” Results from
                    different algorithms are compare and vote for the match the one with the highest votes will be
                    selected as the final prediction.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block FeatureRightImage"
                     src="{% static 'Img/analytics_cover.jpg' %}" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading TitleFont" style="margin-top:30px;">Low factor of false prediction</h2>
                <p class="lead FPara">
                    By use of accurate and actual patient data with the algorithms that have been using widely in the
                    field of data analytics more specifically for predictive analysis and are prominent among the
                    machine learning algorithms for their best results, by using a combination of all best algorithms we
                    therefore have reduced the factor of false prediction.
                </p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block FeatureLeftImage"
                     src="{% static 'Img/check2.jpg' %}"
                     alt="Generic placeholder image">
            </div>
        </div>


        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading TitleFont" style="margin-top:45px;">Cross-Validation</h2>
                <p class="lead FPara">

                    Our system have been trained on different combinations of datasets by using different cross
                    validation techniques in order to be more accurately predict the disease that definitely result in
                    greater satisfaction by the users.

                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block FeatureRightImage"
                     src="{% static 'Img/check.jpg' %}" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
        <div class="row">
            <h1 style="text-align: center; font-size: 50px; margin-top: -70px;">Team</h1>

            <div class="col-lg-6" style="text-align: center">
                <a href="https://www.facebook.com/sehan.ahmed.10?fref=ts">
                    <img class="img-circle" style="height: 200px; width: 200px; margin: auto"
                         src={% static 'Img/13254571_10153698816353196_333495843126705111_n.jpg' %} alt="Generic
                         placeholder image" width="140" height="140" >
                </a>
                <h3>Sehan Ahmed Farooqui</h3>
                <p>Sehan is a student of Software Engineering having interest in business intelligence, Machine learning and of course Data Science!</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-6" style="text-align: center">
                <a href="https://www.facebook.com/razakawish">
                    <img class="img-circle" style="height: 200px; width: 200px; max-width: 100%; margin: auto"
                         src="{% static 'Img/12190847_1171331319561007_399879580378983313_n400x400.jpg' %}"
                         alt="Generic placeholder image" width="140" height="140">
                </a>
                <h3>Syed Kawish Raza</h3>

                <p>Kawish is student of Software Engineering who is passionate software developer, a cricket lover , an entrepreneur and
                    a foodie! </p>

            </div>
        </div><!-- /.row -->
    </div>

    <hr class="divider">
    <footer style=" margin-left: 14% ; margin-right: 14%; margin-top: 10px">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow44.js"></script>
        <noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>
        </noscript>
        <p>&copy; 2016 OReference, Inc. &middot; <a href="/Home">Home</a> &middot; <a href="/AboutUs">About</a> &middot;
         
    </footer>


{% endblock %}