{% extends 'UserInformation/UserForm_Template.html' %}
{% block content %}
    {% load staticfiles %}
    <script src="{% static 'js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
<style>
#title
{
    box-shadow: 0px 2px 13px grey;


}
</style>


    <div class="col-md-10 " id="title" style="margin: 2% 5%  ;">
        <h1>This is Decision Tree!</h1>
        <p>ID3 algorithms will take all the details about your symptoms using the check list and make a prediction
            around that.
            Make sure you go through all the details and check every symptom </p>
    </div>

   

    <form method="post" action="DecisionTree/Prediction">{% csrf_token %}
        <div style="margin: 0% 3%">

            <!--Attribute#1-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Headache:</strong> if you are having a Headache select 'yes' otherwise select
                                'no'. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="headache" id="radio1" value="y">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">Yes</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="n" id="radio2" name="headache">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">No</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>

            <hr class="featurette-divider">


            <!--Attribute#2-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Retro Orbital Pain:</strong> if you are having a Retro Orbital Pain select 'yes'
                                otherwise select 'no'. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="ROPain" id="radio1" value="y">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">Yes</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="n" id="radio2" name="ROPain">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">No</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>

            <hr class="featurette-divider">


            <!--Attribute#3-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Muscle Apin:</strong> if you having a Muscle Apin select 'yes' otherwise select
                                'no'. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="MPain" id="radio1" value="y">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">Yes</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="n" id="radio2" name="MPain">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">No</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>


            <hr class="featurette-divider">


            <!--Attribute#4-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Joint Pain:</strong> if you having a Joint Pain select 'yes' otherwise select
                                'no'. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="JPain" id="radio1" value="y">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">Yes</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="n" id="radio2" name="JPain">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">No</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>


            <hr class="featurette-divider">


            <!--Attribute#5-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Rash:</strong> if you having a rash select 'yes' otherwise select 'no'. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="Rash" id="radio1" value="y">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">Yes</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="n" id="radio2" name="Rash">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">No</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>

            <hr class="featurette-divider">


            <!--Attribute#6-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Pulse:</strong> if your pulse is normal select 'yes' otherwise select 'weak'.
                            </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="Pulse" id="radio1" value="y">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 60px">Yes</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="w" id="radio2" name="Pulse">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 60px">Weak</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>

            <hr class="featurette-divider">


            <!--Attribute#7-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Blood pressure:</strong> if your blood pressure is normal select 'yes' otherwise
                                select 'abnormal'. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="BP" id="radio1" value="y">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 90px">Normal</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="ab" id="radio2" name="BP">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 90px">Abnormal</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>

            <hr class="featurette-divider">


            <!--Attribute#8-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Hemorrhgic menifestations:</strong> if you are having HM select 'yes' otherwise
                                select 'no'. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="HM" id="radio1" value="y">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">Yes</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="n" id="radio2" name="HM">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">No</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>

            <hr class="featurette-divider">


            <!--Attribute#9-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>IgG:</strong> if your IGg is positive select 'postive' otherwise select
                                'negative'. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="Igg" id="radio1" value="p">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 80px">Positive</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="n" id="radio2" name="Igg">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 80px">Negative</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>

            <hr class="featurette-divider">


            <!--Attribute#10-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Chest X-Ray:</strong> if your chest X-ray is positive select 'positive' otherwise
                                select 'negative'. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="ChestXray" id="radio1" value="p">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 80px">Positive</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="n" id="radio2" name="ChestXray">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 80px">Negative</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>

            <hr class="featurette-divider">


            <!--Attribute#11-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Ultrasound:</strong> if your ultrasound is positive select 'positive' otherwise
                                select 'negative'. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="Ultrasound" id="radio1" value="p">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 80px">Positive</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="n" id="radio2" name="Ultrasound">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 80px">Negative</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>

            <hr class="featurette-divider">


            <!--Attribute#12-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Bleeding:</strong> if you are having bleeding select 'yes' otherwise select 'no'.
                            </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="Bleeding" id="radio1" value="y">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">Yes</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="n" id="radio2" name="Bleeding">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">No</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>


            <hr class="featurette-divider">

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Tourniquet test:</strong> Select your Tourniquet test range from the given
                                ranges.
                            </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="Tourniquet" id="radio1" value="A">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 120px">A (10-20)</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-4">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="B" id="radio2" name="Tourniquet">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 120px">B(20-30)</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-4">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="C" id="radio3" name="Tourniquet">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 120px">C (Above 30)</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>


            <hr class="featurette-divider">

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>WBC:</strong> Select your WBC range from the following ranges.
                            </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="WBC" id="radio1" value="A">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 150px; ">A (0-1999)</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-4">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="B" id="radio2" name="WBC">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 150px; ">B(1999-3500)</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-4">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="C" id="radio3" name="WBC">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 150px; ">C(Above
                                            3500)</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>


            <hr class="featurette-divider">

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-5">
                            <p><strong>Platele:</strong> Select your Platelet range from the given ranges.
                            </p>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="Platelet" id="radio1" value="A">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 160px;">A
                                            (0-30,000)</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-3">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="B" id="radio2" name="Platelet">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 160px; ">B(30,000-80,000)</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-3">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="C" id="radio3" name="Platelet">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 160px; ">C
                                            (80,000-1,15,000)</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-3">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="D" id="radio4" name="Platelet">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 160px; ">D (Above
                                            1,15,000)</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>


            <hr class="featurette-divider">


        </div>
        <input id="submitbtn" style="margin: -50px 40% 2%" type="Submit" value="Submit Your Report!" class="btn btn-primary disabled "/>
    </form>
   

{% endblock %}

