{% extends 'UserInformation/UserForm_Template.html' %}
{% block content %}
    <div class="col-md-10" id="title" style="margin: 2% 4%  ;">
        <h1>This is Random Forest!</h1>
        <p>Random Forest algorithms will take all the details about your symptoms using the check list and make a prediction
            around that.
            Make sure you go through all the details and check every symptom </p>
    </div>
    <style>
#title
{
    box-shadow: 0px 2px 13px grey;


}
</style>



     <form method="post" action="RandomForest/Prediction">{% csrf_token %}
        <div style="margin: 0% 3%">

            <!--Attribute#1-->

            <div class="row MarginInBetween">
                <div class="col-md-12">
                    <div style="margin: 0% 0%">

                        <div class="col-md-7">
                            <p><strong>Headache:</strong> if you are having a Headache select 'yes' otherwise select
                                'no'. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." name="headache" id="radio1" value="y">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">Yes</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" aria-label="..." value="n" id="radio2" name="headache">
      </span>
                                        <label class="form-control" aria-label="..."
                                               style="text-align: center; width: 50px">No</label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->


                        </div>


                    </div>
                </div>
            </div>

          <hr class="featurette-divider">
    </form>

        {% endblock %}

